
.categories {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}

.footer {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}

.header {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
  background-color: red;
}

.home {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}

.nav, h3 {
  border-style: dashed;
  padding-top: 5px;

}

.product-listing {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}

.product-details {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}
