/*.container{
  display: flex;
  flex-flow: row wrap;*/



  h1, h2, h3, h4, p{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


.logo-image {
  width: 40px;
  height: 40px;
  float: left;
}
.logo-text {
  text-align: right;
  float:right;
}
.header {
  border-style: dashed;
  border-color: blue;
  border-width: thin;

}
.home {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}
.footer {
  border-style: dashed;
  border-color: blue;
  border-width: thin;
}

.nav{
  text-align: right;
}
